.root {
    display: grid;
    place-items: center;
}

.paper {
    background-color: #212121;
    min-width: 300px;
    border-radius: 5px;
    padding: 10px 20px 15px 20px;
}

.deleteButton {
    margin-top: 10px;
    background-color: #ff1744;
    color: #ffffff;
    &:hover {
        background-color: #ff174488;
    }
}

.renameTextField {

}

.title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #ffffff;
}